body {
  margin: 0;
  font-family: sans-serif;
  background-color: #061D60;
  line-height: 1.6;
}

/* HEADER */
.topo-h {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* lado esquerdo */
.header-- {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-header {
  height: 120px;
  transform: scale(1.3); 
  transform-origin: left center;
}


/* menu  */
.menu {
  display: flex;
  gap: 30px;
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.menu  a:hover {
  text-decoration: underline;
}

/* ícones  direita */
.header-t {
  display: flex;
  gap: 20px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}
/* scroll */
html {
  scroll-behavior: smooth;
}
/* imagem de fundo */
.img {
  position: relative;
  width: 100%;
  height: 700px;  
  overflow: hidden;
}
.img-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-texto {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);


  color: white;
  font-size: 48px;
  text-align: center;

  padding: 20px;
  border-radius: 12px;
}
/* SECCAO  */
.missao,
.secao-investi,
.secao-parceiros,
.secao-oportunidades,
.secao-contactos {
  text-align: center;
  background-color: #e9e9e9;
  width: 80%;              
  margin-left: 10%;      
  margin-top: 25px;
  padding: 50px 40px;
  border-radius: 15px;
  font-size: 18px;
}

/* TITULOS */
h1, h2 {
  font-size: 42px;
  text-align: center;
  margin-top: 0;
}

/* CARDS */
.cards,
.cards2,
.contactos-tt {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card,
.info-contacto,
.form-contacto {
  background-color: #dcdcdc;
  padding: 25px;
  border-radius: 15px;
  flex: 1;
}

/* PARCEIROS */
.logos {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.logos img {
  height: 100px;
}

/*  OPORTUNIDADES */
.lista-oportunidades a {
  display: block;
  margin: 14px ;
  text-decoration: none;
  color: black;
}

/* FORMULARIO */
.form-contacto input,
.form-contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form-contacto button {
  padding: 6px;
  background-color: green;
  color: white;
  border: none;
}
/* Para auemntar o tamanho da logo no meio do ecrã */
.hero-texto .logo-header {
  height: 250px;
}

/*  responsivo para ecrâ pequeno */
@media (max-width: 768px) {
  .hero-texto {
    font-size: 32px;
  }

  .logo-header {
    height: 50px;
  }
}
